<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <div id="header">
        <a href="/">Bank of SQotLand</a>
        <div id="header-links">
            {% if user %}
            <a href="/logout">Logout</a>
            {% else %}
            <a href="/login">Login</a>
            <a href="/register">Register</a>
            {% endif %}
        </div>
    </div>
    {% block content %}
    {% endblock %}
</body>

</html>