{% extends "base.html" %}

{% block title %}
Login
{% endblock %}

{% block content %}
<div id="main">
    <div class="container">
        <div class="row">
            <h2>Login</h2>
            <form action="/login" method="get" class="account-form">
                <div class="form-group">
                    <label for=" email">Email</label>
                    <input type="text" class="form-control" id="email" name="email" required>
                    <div class="form-group">
                        <label for=" password">Password</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                        <button type="submit">Submit</button>
                    </div>
            </form>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <p>{{ error }}</p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <p>Don't have an account? <a href="/register">Register</a></p>
        </div>
    </div>
</div>
{% endblock %}